
<button nbButton status="success" (click)="createModal()" class="float" ><i class="fa fa-plus mr-2" aria-hidden="true"></i>Add New Course</button>
<button style="display: none;" id="create-modal" data-toggle="modal" data-target="#newCourseModal"></button>
<!-- data Table -->
<!-- <ng-container *ngIf="(lang | json) != '{}'">
  <label class="d-block bold">Filter By Keywords</label>
  <select class="custom-select mb-3" style="width: 40%;" [(ngModel)]="filterSelect">
    <option selected value="">--Select--</option>
    <optgroup label="Languages">
      <ng-container *ngFor="let l of lang | keyvalue">
        <option [value]="l.key">{{l.value}}</option>
      </ng-container>
    </optgroup>
    <optgroup label="Type">
      <option value="free">Free</option>
      <option value="paid">Paid</option>
    </optgroup>
    <optgroup label="Status">
      <option value="Not Completed">{{status[0]}}</option>
      <option value="1">{{status[1]}}</option>
      <option value="2">{{status[2]}}</option>
      <option value="3">{{status[3]}}</option>
    </optgroup>
  </select>
</ng-container> -->
<label class="d-block bold"><b>Filter By Language</b></label>
<select class="custom-select mb-3" style="width: 40%;" [(ngModel)]="filterSelect"  (ngModelChange)="changeFilter()">
  <ng-container *ngFor="let l of lang | keyvalue" >
    <option [value]="l.key">{{l.value}}</option>
  </ng-container>
</select>

<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <b>Courses  [Total : {{total}}]</b>
        </div>
        <div class="card-body">
            <div class="responsive">
                <table class="table table-bordered table-striped table-md text-center">
                    <thead>
                      <tr>
                        <th *ngFor="let th of table_head">{{th}}</th>
                      </tr>
                    </thead>
                    <tbody> 
                      <ng-container *ngFor="let d of data | paginate: { id: 'pagination',
                                            itemsPerPage: limit,
                                            currentPage: curr_page,
                                            totalItems: total}">                                      
                        <tr>
                          <td>{{d.name}}</td>                
                          <td>{{d.type}}</td>                
                          <td>{{d.fee}}</td>    
                          <td>{{lang[d.language]}}</td>    
                          <td>{{status[d.status]}}</td>            
                          <td>{{d.duration}}</td>                
                          <td>{{d.rating}}</td>                
                          <td (click)="viewCourse(d.id, d.status)" style="color:#28a745; cursor: pointer;"><i class="fa fa-eye" aria-hidden="true"></i></td>                
                        </tr>
                      </ng-container>
                        
                      <tr *ngIf="total === 0">
                        <td style="text-align: center;">No Data Available</td>                    
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="row">
              <div *ngIf="total !== 0" class="col-md-8 center">
                  <pagination-controls id="pagination" (pageChange)="getPage($event)"></pagination-controls>
              </div>
              <div class="col-md-4 center">
                  <label class="label-margin">No. of Rows per page :</label>
                  <select class="form-control form-control-width" selected="50" ngModel (ngModelChange)="changeLimit($event)">
                    <option value="50">50</option>
                    <option value="100">100</option>    
                    <option value="200">200</option>
                    <option value="500">500</option>
                  </select>
              </div>  
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Data Table ends -->


<!--add new Modal -->
<div class="modal fade" id="newCourseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create new Course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label  class="label">Course Type <span style="color: red;">*</span></label>
          <select class="form-control" [(ngModel)]="courseType">
            <option selected>--Select--</option>
            <option value="free">Free</option>
            <option value="paid">Paid</option>          
          </select>
        </div>
        <div *ngIf="courseType === 'paid'" class="form-group">
          <label  class="label">Course Fee [ ₹ ] <span style="color: red;">*</span></label>
          <input type="number" nbInput fullWidth [(ngModel)]="fee" placeholder="Enter Course Name">
        </div>
        <div class="form-group">
          <label  class="label d-block">Select Course Languages<span style="color: red;">*</span></label>
          <div class="row">
            <div *ngFor="let lang of languages" class="form-check mb-2 form-check-inline col-3">
              <input class="form-check-input" checked disabled [(ngModel)]="lang.value" type="checkbox" [id]="lang.name" [value]="lang.name">
              <label class="form-check-label" for="inlineCheckbox1">{{lang.displayName}}</label>
            </div>           
          </div>
        </div> 
        <div class="form-group">
          <label  class="label d-block">Select Course Category<span style="color: red;">*</span></label>
          <div class="row">
            <div class="form-check form-check-inline col-3">
              <input class="form-check-input" [(ngModel)]="finance" type="checkbox">
              <label class="form-check-label" for="inlineCheckbox1">Finance</label>
            </div>       
            <div class="form-check form-check-inline col-3">
              <input class="form-check-input" [(ngModel)]="accounting" type="checkbox">
              <label class="form-check-label" for="inlineCheckbox1">Accounting</label>
            </div>   
            <div class="form-check form-check-inline col-3">
              <input class="form-check-input" [(ngModel)]="protection" type="checkbox">
              <label class="form-check-label" for="inlineCheckbox1">Protection</label>
            </div>       
          </div>
        </div> 
      </div>
        
      <div class="modal-footer">
        <button id="close-btn" class="btn btn-secondary" data-dismiss="modal" nbButton status="basic">Close</button>
        <button nbButton status="success" (click)="submit()" >Create</button>
      </div>
    </div>
  </div>
</div>
<!--add new Modal ends-->

