
<button nbButton status="success" (click)="createModal()" class="float" ><i class="fa fa-plus mr-2" aria-hidden="true"></i>Add New Course</button>
<button style="display: none;" id="create-modal" data-toggle="modal" data-target="#newCourseModal"></button>
<!-- data Table -->
<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <b>Sanchalak  [Total : {{total}}]</b>
        </div>
        <div class="card-body">
            <div class="responsive">
                <table class="table table-bordered table-striped table-md text-center">
                    <thead>
                      <tr>
                        <th *ngFor="let th of table_head">{{th}}</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="total === 0">
                      <tr >
                        <td style="text-align: center;">No Data Available</td>                
                      </tr>
                    </tbody>
                    <tbody *ngIf="total !== 0">
                      <tr *ngFor = "let d of data">
                        <td>{{d.name}}</td>                
                        <td>{{d.type}}</td>                
                        <td>{{d.fee}}</td>    
                        <td></td>            
                        <td>{{d.duration}}</td>                
                        <td>{{d.rating}}</td>                
                        <td (click)="viewCourse(d.id)" style="color:#28a745; cursor: pointer;"><i class="fa fa-eye" aria-hidden="true"></i></td>                
                      </tr>
                    </tbody>
                  </table>
            </div>
            <!-- <div *ngIf="total !== 0" class="row">
                <div class="col-md-8 center">
                  <pagination-controls id="pagination" (pageChange)="getPage($event)"></pagination-controls>
                </div>
                <div class="col-md-4 center">
                    <label class="label-margin">No. of Rows per page :</label>
                    <select class="form-control form-control-width" selected="5" [(ngModel)]="pageSize">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                    </select>
                </div>  
            </div> -->
        </div>
      </div>
    </div>
</div>

<!-- Data Table ends -->


<!--add new Modal -->
<div class="modal fade" id="newCourseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create new Course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label  class="label">Course Name <span style="color: red;">*</span></label>
          <input type="text" nbInput fullWidth [(ngModel)]="courseTitle" placeholder="Enter Course Name">
        </div>
        <div class="form-group">
          <label  class="label">Course Type <span style="color: red;">*</span></label>
          <select class="form-control" [(ngModel)]="courseType">
            <option selected>--Select--</option>
            <option value="free">Free</option>
            <option value="paid">Paid</option>          
          </select>
        </div>
        <div *ngIf="courseType === 'paid'" class="form-group">
          <label  class="label">Course Fee [ ₹ ] <span style="color: red;">*</span></label>
          <input type="number" nbInput fullWidth [(ngModel)]="fee" placeholder="Enter Course Name">
        </div>
        <div class="form-group">
          <label  class="label d-block">Select Course Languages<span style="color: red;">*</span></label>
          <div class="row">
            <div *ngFor="let lang of languages" class="form-check form-check-inline col-3">
              <input class="form-check-input" [(ngModel)]="lang.value" type="checkbox" [id]="lang.name" [value]="lang.name">
              <label class="form-check-label" for="inlineCheckbox1">{{lang.displayName}}</label>
            </div>           
          </div>
        </div> 
        <div class="form-group">
          <label  class="label d-block">Select Course Category<span style="color: red;">*</span></label>
          <div class="row">
            <div class="form-check form-check-inline col-3">
              <input class="form-check-input" [(ngModel)]="finance" type="checkbox">
              <label class="form-check-label" for="inlineCheckbox1">Finance</label>
            </div>       
            <div class="form-check form-check-inline col-3">
              <input class="form-check-input" [(ngModel)]="accounting" type="checkbox">
              <label class="form-check-label" for="inlineCheckbox1">Accounting</label>
            </div>   
            <div class="form-check form-check-inline col-3">
              <input class="form-check-input" [(ngModel)]="protection" type="checkbox">
              <label class="form-check-label" for="inlineCheckbox1">Protection</label>
            </div>       
          </div>
        </div> 
      </div>
        
      <div class="modal-footer">
        <button id="close-btn" class="btn btn-secondary" data-dismiss="modal" nbButton status="basic">Close</button>
        <button nbButton status="success" (click)="submit()" >Create</button>
      </div>
    </div>
  </div>
</div>
<!--add new Modal ends-->

