<ng-container *ngIf="details">
    <form #f="ngForm">
        <div class="form-group row mt-4">
            <label class="col-md-4 col-form-label text-center">Course Name<span style="color: red;">
                    *</span></label>
            <div class="col-md-8">
                <input type="text" [disabled]="disable" name="courseName" required #courseName="ngModel" [(ngModel)]="details.title"
                    class="form-control" placeholder="Enter Course Name [In {{details.language}}]">
                <p *ngIf="courseName.invalid && courseName.touched" class="text-center mb-3 mt-1" style="color: red;">
                    This Field is Mandatory !</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label text-center">Course Description<span style="color: red;">
                    *</span></label>
            <div class="col-md-8">
                <textarea [disabled]="disable" name="courseDescription" required rows="5" class="form-control" #courseDescription="ngModel"
                    [(ngModel)]="details.description"
                    placeholder="Enter Course Description [In {{details.language}}]"></textarea>
                <p *ngIf="courseDescription.invalid && courseDescription.touched" class="text-center mb-3 mt-1"
                    style="color: red;">This Field is Mandatory !</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label text-center">Cover Image <span style="color: red;">
                    *</span></label>
            <div class="col-md-8 pt-2">
                <input [disabled]="disable" type="file" accept="image/*" class="d-block form-control-file" name="courseImage" #courseImage="ngModel"
                    ngModel [required]="!(details.coverImage && details.coverImage.length > 0 && details.coverImage !== 'NA')" (change)="uploadImage($event)">
                <a target="_blank" *ngIf="details.coverImage.length > 0 && details.coverImage !== 'NA'" href="{{details.coverImage}}">preview</a>
            </div>
        </div>
        <p *ngIf="secDisable && courseImage.invalid && courseImage.touched" class="text-center mb-3 mt-1" style="color: red;">This
            Field is Mandatory !</p>
        <div class="form-group row">
            <label class="col-md-4 col-form-label text-center">Cover Video <span style="color: red;">
                    *</span></label>
            <div class="col-md-8 pt-2">
                <input [disabled]="disable" type="file" accept="video/*" class="d-block form-control-file" name="courseVideo" #courseVideo="ngModel"
                    ngModel [required]="!(details.coverVideo && details.coverVideo.length > 0 && details.couverVideo !== 'NA')" (change)="uploadVideo($event)">
                <a target="_blank" *ngIf="details.coverVideo.length > 0 && details.coverVideo !== 'NA'" href="{{details.coverVideo}}">preview</a>
            </div>
        </div>
        <p *ngIf="courseVideo.invalid && courseVideo.touched" class="text-center mb-3 mt-1" style="color: red;">This
            Field is Mandatory !</p>
        <div class="text-right">
            <button nbButton status="primary" class="mr-2" (click)="disable = false">Edit</button>
            <button nbButton status="success" [disabled]="f.invalid || disable" (click)="saveCourse()">Save Course Details</button>
        </div>
    </form>
    <hr>
    <p class="text-center" style="font-size: larger;"><b>Course Sections</b></p>
    <hr>
    <button type="button" data-toggle="modal" data-target="#sectionModal" nbButton status="success"><i
            class="fa fa-plus" aria-hidden="true"></i> Add New Section</button>
    <nb-accordion class="mt-3">
        <nb-accordion-item *ngFor="let section of details.sections" style="border: solid #5d5c5ce0 1px;">
            <nb-accordion-item-header>
                {{section.name}}
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                <ngx-create-course-section-route (courseEvent)="getCourse()" [section]="section"
                    [language]="details.language">

                </ngx-create-course-section-route>
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>

</ng-container>



<div class="modal" tabindex="-1" id="sectionModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form #sectionModal="ngForm">
                <div class="modal-header">
                    <h5 class="modal-title">Create Section</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="inputFirstName" class="label">Enter Section Name <span
                                style="color: red;">*</span></label>
                        <input type="text" name="sectionName" required #sectionName="ngModel" [(ngModel)]="SectionName"
                            nbInput fullWidth placeholder="Enter Section Name ">
                        <p *ngIf="sectionName.invalid && sectionName.touched" class="text-center mb-3 mt-1"
                            style="color: red;">This Field is Mandatory !</p>
                    </div>
                    <div class="form-group">
                        <label for="inputFirstName" class="label d-block">Enter Section Description <span
                                style="color: red;">*</span></label>
                        <textarea nbInput name="sectionDescription" required #sectionDescription="ngModel"
                            [(ngModel)]="SectionDescription" fullWidth
                            placeholder="Enter Section Description"></textarea>
                        <p *ngIf="sectionDescription.invalid && sectionDescription.touched"
                            class="text-center mb-3 mt-1" style="color: red;">This Field is Mandatory !</p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="close-section" data-dismiss="modal" nbButton status="basic">Close</button>
                    <button [disabled]="sectionModal.invalid" (click)="createSection(sectionModal)" nbButton
                        status="success">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>