<ng-container *ngIf="Data">
    <button nbButton status="success" (click)="createvideo()" class="float"><i class="fa fa-plus mr-2"
        aria-hidden="true"></i>Add New Video</button>
    <button style="display: none;" id="create-video-modal" data-toggle="modal" data-target="#newVideoModal"></button>
    <!-- data Table -->
    <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <b>Expenses [Total : {{total}}]</b>
            </div>
            <div class="card-body">
                <div class="responsive">
                    <table class="table table-bordered table-striped table-md text-center">
                        <thead>
                            <tr>
                                <th *ngFor="let th of table_head">{{th}}</th>
                            </tr>
                        </thead>
                        <!-- <tbody *ngIf="total === 0">
                      <tr >
                        <td style="text-align: center;">No Data Available</td>                
                      </tr>
                    </tbody> -->
                        <!-- <tbody *ngIf="total !== 0"> -->
                        <tbody>
                            <tr *ngFor="let d of Data">
                                <td>{{d.name}}</td>
                                <td>{{d.displayTime}}</td>
                                <td>{{d.amount}}</td>
                                <td>{{d.status}}</td>
                                <td>
                                    <a target="_blank" href="{{d.billLink}}"><i class="fa fa-eye"
                                            aria-hidden="true"></i></a>
                                </td>
                                <td (click)="viewSession(d._id)" style="color:#28a745; cursor: pointer;"><i
                                        class="fa fa-eye" aria-hidden="true"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div *ngIf="total !== 0" class="row">
                <div class="col-md-8 center">
                  <pagination-controls id="pagination" (pageChange)="getPage($event)"></pagination-controls>
                </div>
                <div class="col-md-4 center">
                    <label class="label-margin">No. of Rows per page :</label>
                    <select class="form-control form-control-width" selected="5" [(ngModel)]="pageSize">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                    </select>
                </div>  
            </div> -->
            </div>
        </div>
    </div>
    </div>
    
    
    
    
    
</ng-container>