<ng-container *ngIf="Data">
    <hr>
    <p class="text-center"><span style="color: #3366ff;">Current Status :</span> {{status[s]}}</p>
    <hr>
    <div class="text-center">
        <button class="mr-2" size="small" (click)="changeStatus('2', 'success')" type="button" nbButton status="success">Live</button>
        <button class="mr-2" size="small" (click)="changeStatus('3' , 'warning')" type="button" nbButton status="danger">Disable</button>
    </div>
    <form #document="ngForm">
        <div class="form-group row mt-4">
            <label class="col-md-4 col-form-label text-center">Document Title<Title></Title><span style="color: red;">
                    *</span></label>
            <div class="col-md-8">
                <input type="text" name="documentName" required #documentName="ngModel" [(ngModel)]="document_name"
                    class="form-control" placeholder="Enter Document Title [In {{Data.language}}]">
                <p *ngIf="documentName.invalid && documentName.touched" class="text-center mb-3 mt-1"
                    style="color: red;">
                    This Field is Mandatory !</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label text-center">Document Description<span style="color: red;">
                    *</span></label>
            <div class="col-md-8">
                <textarea name="documentDescription" required rows="5" class="form-control"
                    #documentDescription="ngModel" [(ngModel)]="document_description"
                    placeholder="Enter Document Description [In {{Data.language}}]"></textarea>
                <p *ngIf="documentDescription.invalid && documentDescription.touched" class="text-center mb-3 mt-1"
                    style="color: red;">This Field is Mandatory !</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label text-center">Reading Time<span style="color: red;">
                    *</span></label>
            <div class="col-md-8">
                <input type="text" name="readTime" required rows="5" class="form-control" #readTime="ngModel"
                    [(ngModel)]="reading_time" placeholder="Enter Reading Time [In {{Data.language}}]">
                <p *ngIf="readTime.invalid && readTime.touched" class="text-center mb-3 mt-1" style="color: red;">This
                    Field is Mandatory !</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label text-center">Document Image<span style="color: red;">
                    *</span></label>
            <div class="col-md-8">
                <input class="mt-1 d-block" type="file" (change)="upload($event)" accept="Image/*" name="docimg" [required]="!(Data && Data.img && Data.img.length > 0)"
                    #docimg="ngModel" ngModel>
                  
                <a target="_blank" [href]="Data.img">Preview</a>
                <p *ngIf="docimg.invalid && docimg.touched" class="text-center mb-3 mt-1" style="color: red;">This Field
                    is Mandatory !</p>
                <div *ngIf="progressVideo > 0" class="progress mt-4">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{progress}}%"
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>

        <hr>
        <ckeditor [ngModelOptions]="{standalone: true}" [config]="{ extraPlugins: 'divarea', height: '320' }"
            [(ngModel)]="htmlText"></ckeditor>
        <div class="text-right">
            <button [disabled]="document.invalid" nbButton status="success" size="medium" (click)="save()"
                class="mt-3">save</button>
        </div>
    </form>

</ng-container>
















<!-- 

        <div class="text-center" style="font-size:larger;">
            <b>Document / Article Sections</b>
        </div>
    <hr>
    <div class="text-right">
        <button size="small" data-toggle="modal" data-target="#docSectionModal" type="button" nbButton status="primary">
            Create Section</button>
    </div>

    <nb-accordion class="mt-3">
        <nb-accordion-item *ngFor="let section of sections" style="border: solid #5d5c5ce0 1px;">
            <nb-accordion-item-header>
                {{section.title}}
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                <div class="form-group row mt-4">
                    <label class="col-md-4 col-form-label text-center">Document Section Title<Title></Title><span style="color: red;">
                            *</span></label>
                    <div class="col-md-8">
                        <input type="text" name="docSecName" required #docSecName="ngModel" [(ngModel)]="section.title"
                            class="form-control" placeholder="Enter Document Section Title [In {{Data.language}}]">
                        <p *ngIf="docSecName.invalid && docSecName.touched" class="text-center mb-3 mt-1" style="color: red;">
                            This Field is Mandatory !</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-center">Document Section Description<span style="color: red;">
                            *</span></label>
                    <div class="col-md-8">
                        <textarea name="docSecDescription" required rows="5" class="form-control" #docSecDescription="ngModel"
                            [(ngModel)]="section.body"
                            placeholder="Enter Document Section Description [In {{Data.language}}]"></textarea>
                        <p *ngIf="docSecDescription.invalid && docSecDescription.touched" class="text-center mb-3 mt-1"
                            style="color: red;">This Field is Mandatory !</p>
                    </div>
                </div>
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
    <div class="text-right">
        <button class="mt-3" size="small" (click)="save()" type="button" nbButton status="success">
            Save</button>
    </div>   -->




<!-- 

<div class="modal" tabindex="-1" id="docSectionModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form #secModal="ngForm">
                <div class="modal-header">
                    <h5 class="modal-title">Create Section</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputFirstName" class="label">Document Section Title <span
                                style="color: red;">*</span></label>
                        <input type="text" name="docSectionName" required #docSectionName="ngModel" [(ngModel)]="secModalTitle"
                            nbInput fullWidth placeholder="Enter Document Section Title ">
                        <p *ngIf="docSectionName.invalid && docSectionName.touched" class="text-center mb-3 mt-1"
                            style="color: red;">This Field is Mandatory !</p>
                    </div>
                    <div class="form-group">
                        <label for="inputFirstName" class="label d-block">Document Section Description <span
                                style="color: red;">*</span></label>
                        <textarea nbInput name="docSectionDescription" required #docSectionDescription="ngModel"
                            [(ngModel)]="secModalDescription" fullWidth
                            placeholder="Enter Document Section Description"></textarea>
                        <p *ngIf="docSectionDescription.invalid && docSectionDescription.touched"
                            class="text-center mb-3 mt-1" style="color: red;">This Field is Mandatory !</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="close-section" data-dismiss="modal" nbButton status="basic">Close</button>
                    <button [disabled]="secModal.invalid" (click)="createSec(secModal)" nbButton
                        status="success">Create</button>
                </div>
            </form>
        </div>
    </div>
</div> -->