<div class="mr-2 ml-2 mb-2 text-right">
    <button (click)="deleteSection()" size="small" type="button" nbButton status="danger"><i class="fa fa-trash mr-1"
            aria-hidden="true"></i>Delete Section</button>


</div>

<hr>
<form #section="ngForm">
    <div class="form-group row">
        <label class="col-md-4 col-form-label text-center">Section Name<span style="color: red;">
                *</span></label>
        <div class="col-md-8">
            <input type="text" [disabled]="section_disable" name="sectionName" required #sectionName="ngModel"
                [(ngModel)]="section_name" class="form-control" placeholder="Enter Section Name [In {{language}}]">
            <p *ngIf="sectionName.invalid && sectionName.touched" class="text-center mb-3 mt-1" style="color: red;">This
                Field is Mandatory !</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-form-label text-center">Section Description<span style="color: red;">
                *</span></label>
        <div class="col-md-8">
            <textarea name="sectionDescription" [disabled]="section_disable" required rows="6" class="form-control"
                #sectionDescription="ngModel" [(ngModel)]="section_description"
                placeholder="Enter Section Description [In {{language}}]"></textarea>
            <p *ngIf="sectionDescription.invalid && sectionDescription.touched" class="text-center mb-3 mt-1"
                style="color: red;">This Field is Mandatory !</p>
        </div>
    </div>
    <div class="text-right mb-3">
        <button class="mr-2" size="small" (click)="section_disable = false" type="button" nbButton status="success">
            Edit</button>
        <button class="mr-2" [disabled]="section.invalid || section_disable" size="small" (click)="saveSection()" type="button" nbButton status="success">
            Save</button>
    </div>
</form>

<hr>
    <div class="text-center" style="font-size:larger;">
        <b>Section Media</b>
    </div>
<hr>
<div class="text-right mb-2">
    <button id="new-sub-sec" class="mr-2" size="small" data-toggle="modal" data-target="#subSectionModal" type="button" nbButton
    status="success"><i class="fa fa-plus mr-1" aria-hidden="true"></i>Add New Sub-Section</button>
</div>
<nb-accordion>
    <nb-accordion-item *ngFor="let data of sub ; let i = index" style="border: solid #5d5c5ce0 1px;">
        <nb-accordion-item-header>
            {{data.title}}
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <div class="text-right">
                <button class="mr-2" nbButton size="tiny" (click)="deleteSubSection(data._id)" status="danger">Delete</button>
                <button class="mr-2" nbButton size="tiny" (click)="editSubSection(data.title , data.type , i)" status="success">Edit</button>
            </div>
            <label>Type : </label>
            <label>{{data.type}}</label>
            <br>

            <a target="_blank" href="{{data.url}}">Preview</a>

        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>

<hr>
<ngx-assessments [assessment]="assessment" [section_id]="section_id"></ngx-assessments>



<div class="modal" tabindex="-1" id="subSectionModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form #subSectionModal="ngForm">
                <div class="modal-header">
                    <h5 class="modal-title">Create Sub-Section</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="inputFirstName" class="label">Enter Sub-Section Name <span
                                style="color: red;">*</span></label>
                        <input type="text" name="subSectionName" required #subSectionName="ngModel"
                            [(ngModel)]="subSectionTitle" nbInput fullWidth placeholder="Enter Section Name ">
                        <p *ngIf="subSectionName.invalid && subSectionName.touched" class="text-center mb-3 mt-1"
                            style="color: red;">This Field is Mandatory !</p>
                    </div>
                    <label class="label">Media Type <span style="color: red;">*</span></label>
                    <select class="form-control" name="media" required #media="ngModel" [(ngModel)]="mediaType">
                        <option selected>--Select--</option>
                        <option value="audio">Audio</option>
                        <option value="video">Video</option>
                        <option value="File">Text</option>
                    </select>
                    <p *ngIf="media.invalid && media.touched" class="text-center mb-3 mt-1"
                            style="color: red;">This Field is Mandatory !</p>
                    <div class="mt-4">
                        <label class="label d-block">Select Media To Upload</label>
                        <input (change)="uploadMedia($event)" required accept="{{mediaType}}/*" #media="ngModel" ngModel
                            name="media" type="file">
                    </div>
                    <div *ngIf="progress > 0" class="progress mt-4">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{progress}}%"
                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="close-sub-section" data-dismiss="modal" nbButton status="basic">Close</button>
                    <button [disabled]="subSectionModal.invalid || disableBtn"
                        (click)="createSubSection(subSectionModal)" nbButton status="success">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>


<button style="display: none;" data-toggle="modal" data-target="#editSubSectionModal" id="toogle-edit-modal" ></button>
<div class="modal" tabindex="-1" id="editSubSectionModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form #editSubSectionModal="ngForm">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Sub-Section</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="inputFirstName" class="label">Enter Sub-Section Name <span
                                style="color: red;">*</span></label>
                        <input type="text" name="editsubSectionName" required #editsubSectionName="ngModel"
                            [(ngModel)]="editSubSectionTitle" nbInput fullWidth placeholder="Enter Section Name ">
                        <p *ngIf="editsubSectionName.invalid && editsubSectionName.touched" class="text-center mb-3 mt-1"
                            style="color: red;">This Field is Mandatory !</p>
                    </div>
                    <label class="label">Media Type <span style="color: red;">*</span></label>
                    <select class="form-control" name="editmedia" required #editmedia="ngModel" [(ngModel)]="editMediaType">
                        <option selected>--Select--</option>
                        <option value="audio">Audio</option>
                        <option value="video">Video</option>
                        <option value="File">Text</option>
                    </select>
                    <p *ngIf="editmedia.invalid && editmedia.touched" class="text-center mb-3 mt-1"
                            style="color: red;">This Field is Mandatory !</p>
                    <div class="mt-4">
                        <label class="label d-block">Select Media To Upload</label>
                        <input (change)="uploadMedia($event)" required accept="{{mediaType}}/*" #media="ngModel" ngModel
                            name="media" type="file">
                    </div>
                    <div *ngIf="progress > 0" class="progress mt-4">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{progress}}%"
                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="close-edit-sub-section" data-dismiss="modal" nbButton status="basic">Close</button>
                    <button [disabled]="editSubSectionModal.invalid || disableBtn"
                        (click)="saveSubSectionChanges(editSubSectionModal)" nbButton status="success">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>