<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <b>{{role.charAt(0).toUpperCase() + role.slice(1)}} - details</b>
            </div>
            <div class="card-body">
                <div class="text-center" *ngIf="details.imageUrl && details.imageUrl.length > 0">                    
                    <img class="profile-img" src="{{details.imageUrl}}">    
                    <h2 class="mt-3" style="color: #9ca6bc;">{{details.fName + ' ' + details.lName}}</h2>                
                </div>
                <hr>
                <h5 class="text-center mb-4">Personal Details</h5>
                
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-center">First Name</label>
                    <div class="col-md-9">
                      <input type="text" [disabled]="!editable" [(ngModel)]="details.fName" class="form-control">                      
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-center">Last Name</label>
                    <div class="col-md-9">
                      <input type="text" [disabled]="!editable" [(ngModel)]="details.lName" class="form-control">                      
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-center">Email</label>
                    <div class="col-md-9">
                      <input type="email" [disabled]="!editable" [(ngModel)]="details.email" class="form-control">                      
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-center">Gender</label>
                    <div class="col-md-9">
                        <select [disabled]="!editable" [(ngModel)]="details.gender" class="form-control">
                            <option>--Select--</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="na">NA</option>
                        </select>                      
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-center">Age</label>
                    <div class="col-md-9">
                      <input type="text" [disabled]="!editable" [(ngModel)]="details.age" class="form-control">                      
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-center">Date of Birth</label>
                    <div class="col-md-9">
                      <input type="date" [disabled]="!editable" [(ngModel)]="details.dob" class="form-control">                      
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-center">Aadhar Number</label>
                    <div class="col-md-9">
                      <input type="text" [disabled]="!editable" [(ngModel)]="details.aadharNumber" class="form-control" maxlength="12">                      
                    </div>
                </div>      
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-center">Mother Tongue</label>
                    <div class="col-md-9">
                      <input type="text" [disabled]="!editable" [(ngModel)]="details.motherTongue" class="form-control" maxlength="12">                      
                    </div>
                </div> 
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-center">Marital Status</label>
                    <div class="col-md-9">
                      <input type="text" [disabled]="!editable" [(ngModel)]="details.maritalStatus" class="form-control" maxlength="12">                      
                    </div>
                </div> 
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-center">Occupation</label>
                    <div class="col-md-9">
                      <input type="text" [disabled]="!editable" [(ngModel)]="details.occupation" class="form-control" maxlength="12">                      
                    </div>
                </div>  
                <ng-container *ngIf="role === 'sishya'">
                    <hr>
                    <h5 class="text-center mb-4">Course Taken</h5>  
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-4 text-center">
                                        sdf
                                    </div>
                                    <div class="col-md-4 text-center">
                                        (free)
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <i style="color: #28a745;" class="fa fa-eye" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </ng-container>
                <ng-container>
                    <hr>
                    <h5 class="text-center mb-4">Session Details</h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3 text-center">
                                    sdfsdsd
                                </div>
                                <div class="col-md-3 text-center">
                                    30 August 2020, 12:23 pm
                                </div>
                                <div class="col-md-3 text-center">
                                    300 ₹
                                </div>
                                <div class="col-md-3 text-center">
                                    <i style="color: #28a745;" class="fa fa-eye" aria-hidden="true"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </ng-container>
                <ng-container *ngIf="role === 'sishya'" >
                    <hr>
                    <h5 class="text-center mb-4">My Guru</h5> 
                    
                </ng-container>
                <ng-container *ngIf="role === 'guru'" >
                    <hr>
                    <h5 class="text-center mb-4">My Shishya</h5> 
                </ng-container>
                <ng-container *ngIf="role === 'sishya'" >
                    <hr>
                    <h5 class="text-center mb-4">Payments</h5>  
                </ng-container>
                <hr>
                <h5 class="text-center mb-4">Actions</h5>
                <div class="row">
                    <div class="col-md-3 text-center">
                        <button nbButton status="danger">Disable User</button>
                    </div>
                    <div class="col-md-3 text-center">
                        <button nbButton status="danger">Delete From Web</button>
                    </div>
                    <div class="col-md-3 text-center">
                        <button nbButton status="danger">Block User</button>
                    </div>
                    <div class="col-md-3 text-center">
                        <button nbButton status="success">Add to Website</button>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>


<div class="text-center float">
    <button class="mr-3 btn-shadow" (click)="editable = true" nbButton status="primary">Edit</button>
    <button class="btn-shadow" nbButton status="success">Save</button>
</div>