.profile-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.float{
    position: fixed;
    z-index: 10;
    right: 30px;
    bottom: 30px;
}

.btn-shadow{
    box-shadow: 3px 3px 4px #999;
}

.initials-image{
    width:200px; 
    background-color: #e8ecf2;
    color: #3366ff;
    height:200px;
    font-size: 90px;
    line-height: 90px;
    padding-top: 55px;
    padding-bottom: 55px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.user-initials{
    font-size: 18px;
    font-weight: 600;
    color: #3366ff;
    background-color: #e8ecf2;
    display: inline-block;
    text-align: center;
    padding-top: 11px;
}




  .locModal p{
    margin-bottom: 0px;
    margin-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
  }
.list{
    border-radius: 4px;
}

.list :hover{
    background-color: #e9ecef;
}