.profile-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.float{
    position: fixed;
    z-index: 10;
    right: 30px;
    bottom: 30px;
}

.btn-shadow{
    box-shadow: 3px 3px 4px #999;
}




  .locModal p{
    margin-bottom: 0px;
    margin-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
  }
.list{
    border-radius: 4px;
}

.list :hover{
    background-color: #e9ecef;
}