@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .buttons-row {
    margin: -0.5rem;
  }

  button[nbButton] {
    margin: 0.5rem;
  }

  .action-icon {
    @include nb-ltr(margin-right, 0.5rem);
    @include nb-rtl(margin-left, 0.5rem);
  }

  .actions-card {
    height: 8rem;
  }
}



.responsive{
    overflow-x: scroll;
    margin-bottom: 20px;;
}
.center{
    text-align: center;
}

.label-margin{
    margin-right: 30px;
}
.form-control-width{
    width: 70px;
    display: inline-block;
}


#exampleModal .modal-dialog{
  margin-bottom: 0px;
  margin-top: 0px;
  min-height: 100vh;
  margin-right: 0px;
  // transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(50px,0);
  transform: translate(0,0);
  
}#filterModal .modal-dialog{
  margin-bottom: 0px;
  margin-top: 0px;
  min-height: 100vh;
  margin-right: 0px;
  // transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(50px,0);
  transform: translate(0,0);
  
}

.float{
    position: fixed;
    z-index: 10;
    right: 30px;
    bottom: 30px;
    box-shadow: 3px 3px 4px #999;
}

nb-checkbox {
    margin-bottom: 1rem;
  }
  
  .form-inline [fullWidth] {
    flex: 1;
  }
  
  .form-inline > * {
    margin: 0 1.5rem 1.5rem 0;
  }
  
  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }

  nb-option{
      z-index: 10000;
  }

  #triggerPincode{
    display: none;
  }

  .locModal{
    border-radius: 4px;
  }

  .locModal:hover{
    background-color: #3366ff;
    p{
      color: white;
    }
  }

  .locModal p{
    margin-bottom: 0px;
    margin-right: 40px;
    margin-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #date-time{
    height: 36px;
    width: 100%;
}