<div class="card">
    <div class="card-header">
        <b>Edit Course</b>
        <!-- <div style="float: right;">
            <button size="small" (click)="markComplete()" type="button" nbButton status="primary">Mark as
                Complete</button>
        </div> -->
    </div>
    <div class="card-body">
        <!-- <button class="mr-2" size="small" (click)="changeStatus('1', 'success')" type="button" nbButton status="primary">Mark as
            Complete</button>
        <button class="mr-2" size="small" (click)="changeStatus('2', 'success')" type="button" nbButton status="success">Live</button>
        <button class="mr-2" size="small" (click)="changeStatus('3' , 'warning')" type="button" nbButton status="warning">Disabled</button>
        <button size="small" (click)="changeStatus('4' , 'danger')" type="button" nbButton status="danger">Delete</button>
        <hr>
        <p class="text-center">Current Status : {{status[s]}}</p>
        <hr> -->
        <nb-route-tabset *ngIf="tabs" fullWidth [tabs]="tabs"></nb-route-tabset>


    </div>
</div>