::ng-deep .nb-theme-default nb-route-tabset ul{
    overflow-x: scroll;
    overflow-y: hidden;
    ::-webkit-scrollbar {
      width: 12px;              
    }
  // -ms-overflow-style: none;  /* IE 10+ */
  // &::-webkit-scrollbar {
  //   width: 0px;
  //   background: transparent; /* Chrome/Safari/Webkit */
  // }
}