<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">Bima Paathshala - Admin</a>
  </div>
</div>
<!-- <div class="header-container"></div>
<div class="header-container">
  <div class="menuItem" (click)="logout()">
    Log-out
  </div>
</div> -->
<div class="header-container">
  <div class="menuItem mr-4" (click)="logout()">
    Log-out
  </div>
  <div style="border-left: solid #8f9bb3 1px;
  padding-left: 20px;">
    <ng-container *ngIf="userName.length > 0 && profileImg.length > 0">
      <div class="d-inline-block">
        <div *ngIf="profileImg && profileImg !== null && profileImg !== ''" class="profile_image">
          <p>{{initials}}</p>
        </div>
        <img width = "40px" height="40px" style="border-radius: 50%; display: none;" src="{{profileImg}}">
      </div>
      <div class="ml-3 d-inline-block">
        {{userName}}
      </div>
    </ng-container>
  </div>
  
</div>
<div *ngIf="toogleMenu" class="dropdown">
  <div class="menuItem" (mousedown)="profile()">
    Profile
  </div>
  <div class="menuItem" (mousedown)="logout()">
    Log-out
  </div>
</div>
