<button nbButton status="success" class="float" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus mr-2" aria-hidden="true"></i>Add New Guru</button>
<button nbButton status="primary" data-toggle="modal" data-target="#filterModal"><i class="fa fa-filter mr-2" aria-hidden="true"></i>Filter
  
</button>
<button  data-toggle="modal" data-target="#uploadModal" nbButton status="success" ><i class="fa fa-upload mr-2" aria-hidden="true"></i>Upload Csv</button>
<button nbButton status="primary"(click)="downloadSampleCsv()" ><i class="fa fa-download mr-2" aria-hidden="true"></i>Download Sample Csv</button>
<button nbButton status="success" (click)="downloadCsv()" ><i class="fa fa-download mr-2" aria-hidden="true"></i>Download Data</button>
<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <b>Guru  [Total : {{total}}]</b>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <label class="text-center d-block"><b>Add Fields to the Table</b></label>
              <select class="form-control mb-4" ngModel (ngModelChange)="addField($event)">
                <option value="add">--Add--</option>
                <ng-container *ngFor="let add of table_head_obj | keyvalue">
                  <option *ngIf="!add.value" [ngValue]="add.key" >{{add.key}}</option>
                </ng-container>
              </select>
            </div>
            <div class="col-md-6">
              <label class="text-center d-block"><b>Remove Fields from the Table</b></label>
              <select class="form-control mb-4" ngModel (ngModelChange)="removeField($event)">
                <option value="remove">--Remove--</option>
                <ng-container *ngFor="let remove of table_head_obj | keyvalue">
                  <option *ngIf="remove.value" [ngValue]="remove.key">{{remove.key}}</option>
                </ng-container>
              </select>
            </div>
          </div>
            <div class="responsive">
                <table class="table table-bordered table-striped table-md text-center">
                    <thead>
                      <tr>
                        <ng-container *ngFor="let th of table_head">
                          <th *ngIf="table_head_obj[th]">{{th}}</th>
                        </ng-container>
                        
                      </tr>
                    </thead>
                    <tbody>
                        
                      <tr *ngFor="let d of data | paginate: { id: 'pagination',
                      itemsPerPage: limit,
                      currentPage: curr_page,
                      totalItems: total}">
                        <td *ngIf="table_head_obj['View / Edit'] " (click)="showUser(d._id)" style="color:#28a745; cursor: pointer;"><i class="fa fa-eye" aria-hidden="true"></i></td>
                        <td *ngIf="table_head_obj['First Name'] ">{{d.fName}}</td>
                        <td *ngIf="table_head_obj['Last Name'] ">{{d.lName}}</td>
                        <td *ngIf="table_head_obj['Status'] ">{{d.status}}</td>
                        <td *ngIf="table_head_obj['Email'] ">{{d.email}}</td>
                        <td *ngIf="table_head_obj['Phone'] ">{{d.phone}}</td>
                        <td *ngIf="table_head_obj['Roll No.'] ">{{d.rollNumber}}</td>
                        <td *ngIf="table_head_obj['Aadhaar No.'] ">{{d.aadharNumber}}</td>
                        <td *ngIf="table_head_obj['Gender'] ">{{d.gender}}</td>
                        <td *ngIf="table_head_obj['Date of Birth'] ">{{d.dob}}</td>
                        <td *ngIf="table_head_obj['Age'] ">{{d.age}}</td>
                        <td *ngIf="table_head_obj['Pincode'] ">{{d.address.pincode}}</td>
                        <td *ngIf="table_head_obj['Locality'] ">{{d.address.locality}}</td>
                        <td *ngIf="table_head_obj['City'] ">{{d.address.city}}</td>
                        <td *ngIf="table_head_obj['State'] ">{{d.address.state}}</td>
                        <td *ngIf="table_head_obj['Country'] ">{{d.address.country}}</td>
                        <td *ngIf="table_head_obj['Occupation'] ">{{d.occupation}}</td>
                        <td *ngIf="table_head_obj['Mother Tongue'] ">{{d.motherTongue}}</td>
                        <td *ngIf="table_head_obj['Marital Status'] ">{{d.maritalStatus}}</td>
                      </tr>
                      <tr *ngIf="total == 0">
                        <td style="text-align: center;">No Data Available</td>                    
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="row">
                <div *ngIf="total !== 0" class="col-md-8 center">
                  <pagination-controls id="pagination" (pageChange)="getPage($event)"></pagination-controls>
                </div>
                <div class="col-md-4 center">
                    <label class="label-margin">No. of Rows per page :</label>
                    <select class="form-control form-control-width" selected="10" [(ngModel)]="limit">
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="25">25</option>
                    </select>
                </div>  
            </div>
            
         
          
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>

  <form [formGroup]="createGuru">
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Guru</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body">
          
            
              <div class="form-group center">
                <label class="label">Fields Marked with <span style="color: red;">*</span> are Mandatory !</label>
              </div>
                <div class="form-group">
                    <label for="inputFirstName" class="label">First Name of Guru <span style="color: red;">*</span></label>
                    <input formControlName="fName" type="text" nbInput fullWidth  placeholder="Enter First Name ">
                </div>
                <div class="form-group">
                  <label for="inputFirstName" class="label">Last Name of Guru <span style="color: red;">*</span></label>
                  <input formControlName="lName" type="text" nbInput fullWidth  placeholder="Enter Last Name ">
                </div>
                <!-- <div class="form-group">
                  <label for="inputFirstName" class="label">Guru Type <span style="color: red;">*</span></label>
                  <select class="form-control" style="width: 50%;">
                    <option selected>--Select--</option>
                    <option value="Full Time">Full Time</option>
                    <option value="Part Time">Part Time</option>
                    <option value="Retainer">Retainer</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="inputFirstName" class="label">Guru Level <span style="color: red;">*</span></label>
                  <select class="form-control" style="width: 50%">
                    <option selected>--Select--</option>
                    <option value="level 1">Level 1</option>
                    <option value="level 2">Level 2</option>
                    <option value="level 3">Level 3</option>
                  </select>
                </div> -->
                
                <div class="form-group">
                    <label for="inputFirstName" class="label">Email <span style="color: red;">*</span></label>
                    <input formControlName="email" type="text" nbInput fullWidth  placeholder="Enter Email">
                </div>
                
                <!-- <div class="form-group">
                    <label for="inputFirstName" class="label">Contact No.<span style="color: red;">*</span></label> -->
                    <!-- <div class="row">
                      <div class="col-md-8"> -->
                        <!-- <input [disabled] = "disable_contact" [ngModelOptions]="{standalone: true}" [(ngModel)] = "contact" type="text" nbInput fullWidth  placeholder="Enter Contact No."> -->
                      <!-- </div>
                      <div class="col-md-4">
                        <button nbButton status="primary" type="button" [disabled] = "disable_contact" (click)="onVerify()" class="mt-0"><i class="fa fa-check mr-2" aria-hidden="true"></i>Verify</button>
                      </div>
                    </div> -->
                <!-- </div> -->
                <!-- <div *ngIf="show_otp" class="form-group">
                  <label *ngIf="verified.length === 0" for="inputFirstName" class="label d-block">Please enter otp sent at </label>
                  <ng-otp-input *ngIf="verified.length === 0" class="d-inline-block" (onInputChange)="onOtpChange($event)"  [config]="{length:4}"></ng-otp-input>
                  <h5 *ngIf="verified.length > 0" style="color: #00d68f; text-align:center;">
                    <i class="fa fa-check mr-2" aria-hidden="true"></i>{{verified}}
                  </h5>
                </div>
                <div *ngIf="contact_error.length > 0" class="alert alert-danger mt-3" style="text-align: center;">
                  {{contact_error}}
                </div> -->
                
                <label class="label">Date of Birth<span style="color: red;">*</span></label>

                      <input formControlName="dob" class="d-block mb-2" nbInput (mouseup)="date()"
                             placeholder="Form Picker"
                             [nbDatepicker]="formpicker">
                      <nb-datepicker #formpicker></nb-datepicker>
                    
                    
                
                <div class="form-group">
                  <label for="inputFirstName" class="label">Aadhaar Number <span style="color: red;">*</span></label>
                  <input formControlName="aadhaarNo" type="text" nbInput fullWidth maxlength="12" minlength="12" placeholder="Enter Aadhaar Number">                
                </div>
                <div class="form-group">
                  <label for="inputFirstName" class="label">Aadhaar Card Image <span style="color: red;">*</span></label>
                  <input formControlName="aadhaarImg" class="d-block" type="file" >                
                </div>
                
                <div class="form-group">
                  <label for="inputFirstName" class="label">Gender <span style="color: red;">*</span></label>
                  <nb-radio-group [(value)]="genderValue">
                    <nb-radio
                      [value]="'male'">
                      Male
                    </nb-radio>
                    <nb-radio
                      [value]="'female'">
                      Female
                    </nb-radio>
                    <nb-radio
                      [value]="'NA'">
                      NA
                    </nb-radio>
                  </nb-radio-group>
                </div>
                <div class="form-group">
                  <label for="inputFirstName" class="label">Marital Status</label>
                  <input formControlName="maritalStatus" type="text" nbInput fullWidth placeholder="Enter Marital Status">                
                </div>
                <div class="form-group">
                  <label for="inputFirstName" class="label">Mother Tongue</label>
                  <input formControlName="motherTongue" type="text" nbInput fullWidth placeholder="Enter Mother Tongue">                
                </div>
                <div class="form-group">
                  <label for="inputFirstName" class="label">Occupation</label>
                  <input formControlName="occupation" type="text" nbInput fullWidth  placeholder="Enter Occupation">                
                </div>
                <div class="form-group">
                  <label for="inputFirstName" class="label">Pincode <span style="color: red;">*</span></label>
                  <input [(ngModel)]="pinCode" [ngModelOptions]="{standalone: true}" maxlength="6" (input)="pincode($event)" type="text" nbInput fullWidth  placeholder="Enter Pin Code">                
                </div>
                <div *ngIf="pincodeInvalid" class="form-group">
                  <label class="label" style="color: red;">Invalid Pincode</label>
                </div>
                <div class="form-group">
                  <label for="inputFirstName" class="label">Locality <span style="color: red;">*</span></label>
                  <input  [(ngModel)]="locality" [ngModelOptions]="{standalone: true}" type="text" nbInput fullWidth  placeholder="Enter Locality">                
                </div>
                <div class="form-group">
                  <label for="inputFirstName" class="label">City / District <span style="color: red;">*</span></label>
                  <input   [(ngModel)]="city" [ngModelOptions]="{standalone: true}" type="text" nbInput fullWidth  placeholder="Enter City">                
                </div>
                <div class="form-group">
                  <label for="inputFirstName" class="label">State <span style="color: red;">*</span></label>
                  <input [(ngModel)]="state" [ngModelOptions]="{standalone: true}" type="text" nbInput fullWidth  placeholder="Enter State">               
                </div>
                <div class="form-group">
                    <label for="inputFirstName" class="label">Country <span style="color: red;">*</span></label>
                    <input [(ngModel)]="country" [ngModelOptions]="{standalone: true}" type="text" nbInput fullWidth  placeholder="Enter Country Name">                
                </div>
                
        </div>
        <div class="modal-footer">
          <button id="close-btn" nbButton status="danger" data-dismiss="modal">Close</button>
          <button [disabled]="!createGuru.valid" nbButton status="success" (click)="createUser()">Create</button>
        </div>
      </div>
    </div>
  </div>
</form>

  <button id="triggerPincode" data-toggle="modal" data-target="#pincodeModal"></button>
  <div class="modal fade" id="pincodeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
      <div class="modal-content" style="width: 70%;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select Locality</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="locModal" *ngFor="let loc of location">
              <div data-dismiss="modal">
                <p (click)="selectLocality(loc)" class="center">{{loc.name}}</p>
              </div>
              
            </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Filter Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="filter">
            <div class="form-group">
                <label  class="label">Search by Name</label>
                <input formControlName="name" type="text" nbInput fullWidth  placeholder="Enter name to search">
            </div>
            <div class="form-group">
                <label  class="label">Search by Email</label>
                <input formControlName="email" type="text" nbInput fullWidth  placeholder="Enter email to search">
            </div>
            <div class="form-group">
                <label  class="label">Search by Contact No.</label>
                <input formControlName="contact" type="text" nbInput fullWidth  placeholder="Enter Contact No. to search">
            </div>
            <div class="form-group">
              <label  class="label">Search by Pincode</label>
              <input formControlName="pincode" type="text" nbInput fullWidth  placeholder="Enter Country Name">                
            </div>
            <div class="form-group">
                <label  class="label">Search by City</label>
                <input formControlName="city" type="text" nbInput fullWidth  placeholder="Enter City">                
            </div>
            <div class="form-group">
                <label  class="label">Search by State</label>
                <input formControlName="state" type="text" nbInput fullWidth  placeholder="Enter State">               
            </div>
            <div class="form-group">
              <label  class="label">Search by Country</label>
              <input formControlName="country" type="text" nbInput fullWidth  placeholder="Enter Country Name">                
            </div>         
        </form>       
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" nbButton status="basic">Close</button>
          <button [disabled] = "filter.pristine" nbButton status="danger" (click)="removeFilters()">Remove Filters</button>
          <button [disabled] = "filter.pristine" nbButton status="success" (click)="filterUsers()">Apply Filter</button>
          
        </div>
      </div>
    </div>
  </div>



  <div class="modal" tabindex="-1" id="uploadModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upload data from csv</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="text-align: center;">
          <p>Please Upload a CSV file similar to sample CSV file</p>
          <input type="file" (change)="parseToJson($event)">
        </div>
        <div class="modal-footer">
          <button id="close-upload" data-dismiss="modal" nbButton status="basic">Close</button>
          <button nbButton status="success" (click)="uploadCsv()">Upload</button>
        </div>
      </div>
    </div>
  </div>

  <button style="display: none;" id="rejected" data-toggle="modal" data-target="#rejectedModal"></button>
  <div class="modal" tabindex="-1" id="rejectedModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="color: red;" class="modal-title">Error Occoured !</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="text-align: center;">
          <p style="color: red;">The following fiels from uploaded csv file were invalid please add manually</p>
          <div class="responsive">
            <table class="table table-bordered table-striped table-md text-center">
              <thead>
                <th *ngFor="let head of csvHeader">{{head}}</th>
              </thead>
              <tbody>
                <tr *ngFor="let data of rejectedfields">
                  <td>{{data.fName}}</td>
                  <td>{{data.lName}}</td>
                  <td>{{data.email}}</td>
                  <td>{{data.dob}}</td>
                  <td>{{data.aadharNumber}}</td>
                  <td>{{data.gender}}</td>
                  <td>{{data.maritalStatus}}</td>
                  <td>{{data.motherTongue}}</td>
                  <td>{{data.occupation}}</td>
                  <td>{{data.address.pincode}}</td>
                  <td>{{data.address.locality}}</td>
                  <td>{{data.address.city}}</td>
                  <td>{{data.address.state}}</td>
                  <td>{{data.address.country}}</td>
                </tr>                
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button id="close-upload" data-dismiss="modal" nbButton status="primary">Ok</button>
        </div>
      </div>
    </div>
  </div>

