<ng-container *ngIf="data">
    <button nbButton status="success" (click)="createvideo()" class="float"><i class="fa fa-plus mr-2"
        aria-hidden="true"></i>Add New Video</button>
    <button style="display: none;" id="create-video-modal" data-toggle="modal" data-target="#newVideoModal"></button>
    <!-- data Table -->
    <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <b>Videos [Total : {{total}}]</b>
            </div>
            <div class="card-body">
                <div class="responsive">
                    <table class="table table-bordered table-striped table-md text-center">
                        <thead>
                            <tr>
                                <th *ngFor="let th of table_head">{{th}}</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="total === 0">
                      <tr >
                        <td style="text-align: center;">No Data Available</td>                
                      </tr>
                    </tbody> 
                        <tbody *ngIf="total !== 0">
                        <tbody>
                            <tr *ngFor="let d of data | paginate: { id: 'pagination',
                            itemsPerPage: limit,
                            currentPage: curr_page,
                            totalItems: total}">    
                                <td>{{d.name}}</td>
                                <td>{{d.type}}</td>
                                <td>{{d.length}}</td>
                                <td>{{d.language}}</td>
                                <td>{{status[d.status]}}</td>
                                <td>
                                    <a target="_blank" href="{{d.videoUrl}}"><i class="fa fa-eye"
                                            aria-hidden="true"></i></a>
                                </td>
                                <td (click)="viewVideo(d._id, d.status)" style="color:#28a745; cursor: pointer;"><i
                                        class="fa fa-eye" aria-hidden="true"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="total !== 0" class="row">
                <div class="col-md-8 center">
                  <pagination-controls id="pagination" (pageChange)="getPage($event)"></pagination-controls>
                </div>
                <div class="col-md-4 center">
                    <label class="label-margin">No. of Rows per page :</label>
                    <select class="form-control form-control-width" selected="50" ngModel (ngModelChange)="changeLimit($event)">
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="500">500</option>
                    </select>
                </div>  
            </div>
            </div>
        </div>
    </div>
    </div>
    
    
    
    
    
    <div class="modal fade" id="newVideoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create new Video</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #createVideo="ngForm">
                    
                    <!-- <div class="form-group">
                        <label class="label">Type <span style="color: red;">*</span></label>
                        <select class="form-control" [(ngModel)]="videoType" required name="videotype"
                            #videotype="ngModel">
                            <option selected>--Select--</option>
                            <option value="informative">Informative</option>
                            <option value="informative">Informative</option>
                            <option value="informative">Informative</option>
                            
                        </select>
                        <p *ngIf="videotype.invalid && videotype.touched" class="text-center" style="color:red">
                            This field is required !</p>
                    </div> -->
    
                    <div class="form-group">
                        <label class="label d-block">Video Languages<span style="color: red;">*</span></label>
                        <div class="row">
                            <div *ngFor="let lang of languages" class="form-check form-check-inline col-3">
                                <input disabled name="{{lang.name}}" class="form-check-input" [(ngModel)]="lang.value" type="checkbox"
                                    [id]="lang.name" [value]="lang.name">
                                <label class="form-check-label" for="inlineCheckbox1">{{lang.displayName}}</label>
                            </div>
                        </div>
                    </div>
                   
                   
                </form>
            </div>
    
            <div class="modal-footer">
                <button id="close-btn" class="btn btn-secondary" data-dismiss="modal" nbButton
                    status="basic">Close</button>
                <button [disabled]="createVideo.invalid " nbButton status="success" (click)="submit()">Create</button>
            </div>
        </div>
    </div>
    </div>
    
</ng-container>