
<div class="card">
    <div class="card-header">
        Edit Course
    </div>
    <div class="card-body">
        <div class="col-12">
            <nb-card size="small">
              <nb-tabset fullWidth>
                <nb-tab tabTitle="English">
                    <span>Content #1</span>
                </nb-tab>
                <nb-tab tabTitle="Hindi">
                  <span>Content #2</span>
                </nb-tab>
                <nb-tab tabTitle="Marathi">
                  <span>Content #3</span>
                </nb-tab>
              </nb-tabset>
            </nb-card>
        </div>

    
    </div>
</div>

